

@font-face {
	font-family: "Inter";
	src: 
	url("../fonts/Inter-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Righteous";
	src: 
	url("../fonts/Righteous-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Inter-SemiBold";
	src: 
	url("../fonts/Inter-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{


	font-family:"Roboto" ;
	src: url("../fonts/Righteous-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

